
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sobre p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px 0;
}

section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.servico {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.servico img {
    max-width: 100%;
    height: auto;
}

.servico p {
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
}

@media only screen and (max-width: 600px){

    .header-content {
        flex-direction: column; /* Muda a direção do flexbox para coluna */
        justify-content: space-between;
        align-items: center; /* Alinha os itens ao centro */
  }
    header h1 {
        margin-bottom: 20px; /* Adiciona espaço abaixo do título */
    }
    nav {
        margin-top: 20px; /* Adiciona espaço acima da navegação */
    }
    
    /* Estilos para os links da lista de navegação */
    nav ul {
        flex-direction: column;
        text-align: center;
        text-decoration: none; /* Remove a sublinhado dos links */
        color: #fff; /* Cor do texto */
    }

    nav ul li{
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container {
        padding: 0 10px; /* Ajusta o preenchimento da container para telas menores */
        font-size: 20px; /* Tamanho da fonte */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte padrão */
    }

    section {
        padding: 30px 0; /* Ajusta o preenchimento da section para telas menores */
    }
    .servicos-grid {
        grid-template-columns: 1fr; /* Altera para uma coluna em telas menores */
    }
}

